name: Publish CocoaPod

on:
  push:
    # Run on tags like and 1.2.3
    tags:
      - "*.*.*"

jobs:
  publish-pod:
    runs-on: macos-latest
    steps:
      # 1. Check out your code
      - uses: actions/checkout@v3

      # 2. Install a recent Ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.3

      # 3. Run tests
      - name: Run tests
        run: |
          xcodebuild test \
          -scheme 'FormbricksSDK' \
          -sdk iphonesimulator \
          -config Debug \
          -destination 'platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.4' \
          -derivedDataPath build \
          -enableCodeCoverage YES

      # 4. Install CocoaPods
      - name: Install CocoaPods
        run: |
          gem install cocoapods

      # 4. Push the podspec
      - name: Publish to CocoaPods Trunk
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: pod trunk push FormbricksSDK.podspec --allow-warnings
