name: SonarQube
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:

jobs:
  build-and-analyze:
    runs-on: macos-15

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for better SonarQube analysis

      - name: Install Dependencies
        run: swift package resolve

      - name: Run tests
        run: |
          xcodebuild test \
          -scheme 'FormbricksSDK' \
          -sdk iphonesimulator \
          -config Debug \
          -destination 'platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.4' \
          -derivedDataPath build \
          -enableCodeCoverage YES

      - name: Extract code coverage and convert to XML
        run: |
          mkdir -p coverage
          bash ./scripts/xccov-to-sonarqube-generic.sh build/Logs/Test/*.xcresult > coverage/coverage.xml

      # Run SonarCloud scan, pointing at the Cobertura report
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=formbricks
            -Dsonar.projectKey=formbricks_ios
            -Dsonar.sources=Sources/FormbricksSDK
            -Dsonar.tests=Tests/FormbricksSDKTests
            -Dsonar.coverageReportPaths=coverage/coverage.xml
            -Dsonar.verbose=true
            -Dsonar.exclusions=**/Mock/**,**/*.xcodeproj/**,**/.swiftpm/**
            -Dsonar.c.file.suffixes=-
            -Dsonar.cpp.file.suffixes=-
            -Dsonar.objc.file.suffixes=-
